.node-red.backup
[{"id":"3a98d45b.2927ac","type":"tab","label":"Flow 1"},{"id":"99562aba.b9cc58","type":"mqtt-broker","z":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b4509e02.837a6","type":"debug","z":"3a98d45b.2927ac","name":"raw","active":true,"console":"false","complete":"true","x":652.9479217529297,"y":167.4375,"wires":[]},{"id":"170052c9.b4c02d","type":"debug","z":"3a98d45b.2927ac","name":"json","active":true,"console":"false","complete":"true","x":652.9374847412109,"y":248.32296752929688,"wires":[]},{"id":"58495e9a.30aa7","type":"mqtt in","z":"3a98d45b.2927ac","name":"","topic":"office-stock/+/+/up/corner","qos":"2","broker":"99562aba.b9cc58","x":143.89578247070312,"y":167.88888549804688,"wires":[["a09fbd52.a8eb9","b4509e02.837a6"]]},{"id":"8695921c.94edd","type":"http request","z":"3a98d45b.2927ac","name":"","method":"POST","ret":"txt","url":"http://localhost:3030/drawerData/","tls":"","x":439.947998046875,"y":345.6667175292969,"wires":[["fae7f5f7.f3d138"]]},{"id":"fae7f5f7.f3d138","type":"debug","z":"3a98d45b.2927ac","name":"http response","active":true,"console":"false","complete":"true","x":683.9376678466797,"y":345.7673645019531,"wires":[]},{"id":"a09fbd52.a8eb9","type":"function","z":"3a98d45b.2927ac","name":"Filter id and values","func":"\nreturn {\n    id: msg.topic.split('/')[2], \n    payload: JSON.parse(msg.payload)\n    \n};","outputs":1,"noerr":0,"x":156.9479522705078,"y":248.51388549804688,"wires":[["76562fe3.aa1a7","170052c9.b4c02d"]]},{"id":"76562fe3.aa1a7","type":"function","z":"3a98d45b.2927ac","name":"generate Request","func":"\nreturn {\n    // payload: JSON.stringify({'values': msg.payload})\n    payload:{\"drawer_id\": msg.id, \"values\":msg.payload}\n    // payload:\"hallo\"\n};","outputs":1,"noerr":0,"x":152.95143127441406,"y":345.513916015625,"wires":[["8695921c.94edd","db7c9411.e082f8"]]},{"id":"db7c9411.e082f8","type":"debug","z":"3a98d45b.2927ac","name":"http request","active":true,"console":"false","complete":"true","x":440.89581298828125,"y":426.8888854980469,"wires":[]},{"id":"8178960d.b67418","type":"inject","z":"3a98d45b.2927ac","name":"Mock request","topic":"","payload":"{\"id\":\"1234\", \"values\":[2,3,4,5]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":127.94097900390625,"y":68.96878051757812,"wires":[["76562fe3.aa1a7"]]}]